*.swp
**/__pycache__/**
**/.ipynb_checkpoints/**
.DS_Store
.idea/*
.vscode/*
llava/
_vis_cached/
_auto_*
ckpt/
log/
tb*/
img*/
local_output*
*.pth
*.pth.tar
*.ckpt
*.log
*.txt
*.ipynb
*.png
*.jpg
dididi.py
demo_sample_batch_1.py
demo_sample_batch_quant_wr.py
models/caogao.py
models/dididi.py
models/dl.py
models/draw_window_on_image_copy.py
vae_ch160v4096z32.pth.1